/* Full File */

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #f37192;
  color: #333;
  line-height: 1.6;
}

.section-container {
  padding: 15px 20px;
  max-width: 1300px;
  margin: auto;
}

.section-title {
  color: #000000;
  font-size: 1.8em;
  text-align: center;
}

.section-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.section-card {
  flex: 1;
  min-width: 280px;
  padding: 25px;
  background-color: #ffe6ec;
  border-radius: 10px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.section-card h4 {
  color: #ff6581;
  margin-bottom: 10px;
}

.section-card:hover {
  transform: translateY(-10px);
  background-color: #ffedf7;
}

.section-card-2 {
  display: inline-block; /* Allows them to be side by side */
  width: 30%; /* Adjust width as needed */
  margin: 6px;
  padding: 15px;
  background-color: #f097ad;
  border-radius: 10px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
  text-align: center; /* Center content within each card */
}

.section-card-2:hover {
  transform: translateY(-10px);
  background-color: #bd6d81;
}

.text-content h3 {
  color: #f0f0f0;
  font-size: 28px;
  margin-bottom: -5px;
  text-align: center; /* Center text */
}

.text-content p {
  padding-left: 10%;
  padding-right: 10%;
  color: #f0f0f0;
  text-align: center; /* Center text */
  margin-bottom: 20px; /* Space between text and carousel */
}

/* navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: #000000;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.navbar__item, .navbar__title {
  margin-left: 50px;
  margin-right: 120px;
  font-size: 1.1em;
  color: #ff85a2;
  text-decoration: none;
  transition: color 0.3s, border-bottom 0.3s;
  padding-bottom: 5px;
}

.navbar__item:hover, .navbar__title:hover {
  color: #ff6581;
  border-bottom: 2px solid #ff6581;
}

/* home page */
.home-container {
  text-align: center;
  padding: 100px 20px;
  background-color: #fff0f5;
}

.home-owner-name {
  font-size: 2em;
  color: #ff6581;
}

.home-tagline {
  font-size: 1.2em;
  color: #000000;
  margin-top: 20px;
}

.home-button {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #ff6581;
  color: white;
  border-radius: 25px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s;
}

.home-button:hover {
  background-color: #ff4b70;
}

/* about page */
.about-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.about-text{
  flex: 1;
  min-width: 300px;
}

.about-name {
  font-size: 1.8em;
  color: #fff0f5;
  margin-bottom: 10px;
}

.about-intro {
  font-size: 1.2em;
  color: #fff0f5;
  line-height: 1.8;
}

.about-profile-pic {
  width: 100%;
  max-width: 400px;
  border-radius: 50%;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
}


/* skills page */
.skills-items {
  list-style: none;
  padding: 0;
  margin: 0;
}

.skills-item {
  padding: 10px;
  margin-bottom: 10px;
  background-color: #ffedf7;
  border-radius: 5px;
  transition: background-color 0.3s;
  cursor: pointer;
}

.skills-item:hover {
  background-color: #e98398;
}

/* portfolio page */
.portfolio-item img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

/* Gallery */
.category-filter {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  justify-content: center;
}

.category-filter button {
  padding: 10px 20px;
  background-color: #ff6581;
  cursor: pointer;
  color: white;
  border-radius: 25px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s;
}

.category-filter button.active,
.category-filter button:hover {
  background-color: #ff4b70;
}

/* contact page */

/* footer page */
.footer {
  background-color: #000000;
  color: #fff;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
}

.footer-content {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-left, .footer-center, .footer-right {
  flex: 1;
}

.footer-logo {
  width: 100px;
  margin-bottom: 10px;
}

.social-links a {
  color: #fff;
  margin: 0 10px;
  text-decoration: none;
}

.social-links a:hover {
  color: #ff69b4; /* Add a hover effect color that matches your theme */
}


/*portfolio*/
/* General Styles */
.card-containers-wrapper {
  display: flex;             /* This arranges the two card containers horizontally */
  gap: 1px;                 /* Adds spacing between the cards */
  justify-content: center; /* Center the cards horizontally */
  padding: 5px;

}

.card-container-wrapper {
  padding: 20px;
}

.card-container {
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.2s;
  height: 500px;
  width: 400px;
}

.card img {
  background-color: #fff;
  height: 350px;
  object-fit: cover;
  width: 100%;
  display: block;
}

.card-body {
  padding: 15px;
  background-color: #fff;
  height: 200px;
}

.card-text {
  font-size: 16px;
  color: #333;
}

/* Modal Styles */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modal-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.modal-content {
  position: relative;
  background: #dd7ca1;
  padding: 30px;
  border-radius: 8px;
  max-width: 700px;
  width: 100%;
  z-index: 10;

}

.modal-content img {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.modal-content p {
  font-size: 16px;
  color: #333;
  margin-top: 50px;
  text-align: center;
}

.close {
  position: absolute;
  top: -5px;
  right: 10px;
  font-size: 30px;
  cursor: pointer;
}

/* Image Slider */
.cards-images, .comics-images, .ads-images, .pubmats-images {
  display: flex;
  overflow-x: scroll;
}

.cards-images img {
  width: 80%;
  height: auto;
  margin-left: 75px;
}


.comics-images img, 
.ads-images img, 
.pubmats-images img {
  width: 50%;
  height: auto;
  margin-left: 180px;
}

/* slider */
/* Slider Container */
.slider {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.slider-track {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slider-slide {
  min-width: 100%; /* Each slide takes full width */
  transition: transform 0.5s ease-in-out;
}

/* Slider Images */
.slider-slide img {
  width: 100%;
  height: auto;
}

/* Slider Navigation Buttons */
.slider-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: #ffffff;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 2;
}

.slider-button.left {
  left: 10px;
}

.slider-button.right {
  right: 10px;
}

/* Optional Dots (Pagination) */
.slider-dots {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 5px;
}

.slider-dot {
  width: 10px;
  height: 10px;
  background-color: #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.slider-dot.active {
  background-color: #333;
}

/* Responsive Slider */
@media (max-width: 768px) {
  .slider-button {
    padding: 5px;
  }

  .slider-dots {
    gap: 3px;
  }

  .slider-dot {
    width: 8px;
    height: 8px;
  }
}